.advantages {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.advantages__header {
  color: @base-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-top: 50px;
  margin-bottom: 4px;
}

.advantages__headline {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 36px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.advantages__item {
  padding: 66px 20px 0;
  margin-bottom: 32px;
}

.advantages__item:last-of-type {
  margin-bottom: 0;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 4px;
}
