.private {
  display: flex;
}

.private__link {
  color: @base-black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.private__button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
}

.private__text {
  display: none;
}
